<style>
        p {
         color: rgb(168, 7, 39);
        }
        h1 {
            color: rgb(128, 128, 128);
        }  
        
        body {
            background-color: rgb(97, 250, 255);
        }
            
        </style>
